<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"> 
    <!-- EventBinding onclick -->
    <!-- J'appel ma fonction onClick avec un event binding -->
    <!-- <a class="navbar-brand" href="/" (click)="onClick()"> -->

    <a class="navbar-brand" [routerLink]="['/home']">
      <!-- PropertyBinding Title -->
      {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/history']">Histoire de l'agence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registration']" *ngIf="!userState">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" *ngIf="!userState">Connexion</a>
        </li>

        
        <!-- PropertyBinding isDisabled -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" [ngClass]="{disabled : isDisabled}">Disabled</a>
        </li> -->

        <li class="nav-item dropdown" *ngIf="userState">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  [routerLink]="['/admin', 'dashboard']">Tableau de bord</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" (click)="onSignOut()">Déconnexion</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>