<div class="container">
    <h1 class="display-4 mt-5 bm-0">Inscription à l'application</h1>
    <hr class="mt-0 mb-3 bg-grey">
    <p>Sociosqu vehicula tortor consequat? Facilisi quis? Mi! Excepteur sollicitudin, repellat leo. Aptent? Excepturi rerum justo? Saepe? Dui earum? Vivamus eu? Provident laudantium. Similique! Fermentum. Reprehenderit itaque vestibulum taciti ullamco veniam? Error nascetur ullam hendrerit velit, class, diamlorem donec totam aptent perspiciatis? Proin, eiusmod diam, delectus, voluptatibus veritatis iste, diam minim sociosqu placerat nostrum, corrupti maiores fames? Sunt sint repellendus mollitia, blandit veritatis ullamco laboriosam senectus primis natoque autem tenetur proin nunc possimus, pretium euismod congue! Minim feugiat felis, suspendisse aenean aliquid laudantium eius voluptate, dictumst! Felis eum similique! Pulvinar netus praesentium? Et similique sagittis saepe tempora. Aliquid accumsan optio sagittis.</p>
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegistrationForm()">
                <div class="form-group">
                    <label for="email">Adresse email</label>
                    <input type="email" class="form-control" placeholder="example@example.com" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <!-- Firebase demande obligatoirement un mdp de 6 caractères.  -->
                    <input type="password" class="form-control" placeholder="Minimum 6 caractères" formControlName="password">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">Connexion</button>
            </form>
        </div>
    </div>
</div>
