<div class="container py-5" *ngIf="property">
    <h1 class="display-4 mb-0">{{property.title}}</h1>
    <hr class="bg-dark mb-4 mt-2">
    <div class="row">
        <div class="col-lg-6">
            <!-- Si il n'y a qu'une image alors  -->
            <div *ngIf="property.photos.length === 1">
                <div *ngFor="let photo of property.photos; let first = first">
                    <img [src]="photo" *ngIf="first" class="w-100">
                </div>
            </div>
            <div *ngIf="property.photos.length > 1">
                <div id="carouselExampleControls" class="carousel slide bg-dark" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let photo of property.photos; let first = first" [ngClass]="{'active': first}">
                            <img class="d-block w-100" [src]="photo" >
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="font-weight normal">{{property.price}} €</h3>
            <p class="font-weight-light">                        
                {{ property.category }}
                <span *ngIf="property.surface && property.surface !== '' "> de {{ property.surface }} m²</span>
                <span *ngIf="property.rooms && property.rooms !== '' ">, {{ property.rooms }} pièces</span>
            </p>
            <p class="font-weight-light">
                {{ property.description }}
            </p>
            <h3 class="font-weight-normal text-danger" *ngIf="property.sold">Vendu !</h3>
            <h3 class="font-weight-normal text-success" *ngIf="!property.sold">À vendre</h3>
        </div>
    </div>
</div>