<div class="rounded shadow bg-white p-5">
    <div class="row">
        <div class="col-lg-12 d-flex">
            <h2 class="font-weight-light"><i class="fas fa-home"></i> Biens</h2>
            <!-- Je reset mon form avec (click)='resetForm' -->
            <!-- J'appel ma fenêtre modal -->
            <button class="btn btn-primary ml-auto mb-2" type="button" data-toggle="modal" data-target="#propertiesFormModal" (click)='resetForm()'><i class="fas fa-plus"></i> Ajouter un bien</button>
        </div>
    </div>
    <hr class="mt-1 mb-3 bg-grey">
    <div class="row mb-3">
        <p>Laboriosam penatibus debitis, scelerisque incidunt habitasse massa dicta, feugiat pede nibh placerat praesentium varius adipiscing aenean? Perferendis, justo, adipisicing molestiae quidem litora mollitia nesciunt! Conubia vel ducimus nunc. Quidem quas placeat aenean? Tincidunt pede, sociosqu lobortis. Duis, orci, asperiores animi! Tortor primis? Purus facilis? Aliquam torquent habitasse potenti doloremque sed accusamus repellat vestibulum asperiores natus. Mollit? Sociis viverra hendrerit, interdum, laudantium illo et. Tempor, eveniet? Quibusdam. Dui dolorum mattis dolore fuga ducimus modi iusto pharetra purus dictumst quos dis veritatis, ducimus sagittis ante veniam, dolore tenetur erat, consequat. Blandit excepteur, massa? Facilisi nibh, molestiae lectus, taciti perspiciatis quaerat viverra? Est.</p>
    </div>
    <div class="row">
        <!-- Pour chaque property dans properties -->
        <!-- let i = index pour connaître l'index de mon property dans mon tableau properties -->
        <div class="col-12 shadow-sm p-4 mb-3 bg-light" *ngFor="let property of properties; let i = index">
            <div class="row">
                <div class="col-3">
                    <!-- Afficher l'image si property photo existe et n'est pas nul  -->
                    <!-- first = first permet de récupérer uniquement la première photo  -->
                    <div *ngFor="let photo of property.photos; let first = first">
                        <img *ngIf="first" class="w-100" [src]="photo" alt="Photo du bien {{ property.title }}">
                    </div>
                </div>
                <div class="col-9">
                    <div class="d-flex">
                        <h3 class="font-weight-normal"><a [routerLink]="['/property', i]">{{ property.title }}</a></h3>
                        <div class="ml-auto">
                            <!-- Ne pas oublier de déclarer le type du bouton -->
                            <button class="btn btn-primary m-1" type="button" (click)="onEditProperty(property)"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger m-1" type="button" data-toggle="modal" data-target="#propertiesDeleteModal" (click)="onDeleteProperty(i)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <p>
                        {{ property.category }}
                        <!-- si property.xxxx existe et n'est pas vide -->
                        <span *ngIf="property.surface && property.surface !== '' "> de {{ property.surface }} m²</span>
                        <span *ngIf="property.rooms && property.rooms !== '' ">, {{ property.rooms }} pièces</span>
                    </p>
                    <!-- si property.xxxx existe et n'est pas vide -->
                    <p *ngIf="property.price && property.price !=='' ">
                        {{ property.price }} €
                    </p>
                    <p>
                        <span class="text-danger" *ngIf="!property.sold">
                            À vendre
                        </span>
                        <span class="text-success" *ngIf="property.sold">
                            Vendu
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ---------------- Delete property Modal ------------------  -->
<div class="modal fade" id="propertiesDeleteModal" tabindex="-1" role="dialog" aria-labelledby="propertiesDeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Suppression d'un bien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer ce bien ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-danger" (click)="onConfirmDeleteProperty()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>


<!-- -------------------------------Méthode Reactive-------------------------------- -->
<!-- Nécessite plus de code mais est plus modulable -->
<!-- Fenêtre Modal -->
<div class="modal fade" id="propertiesFormModal" tabindex="-1" role="dialog" aria-labelledby="propertiesFormModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- C'est le formulaire des biens immobiliers #propertiesForm avec le binding formgroup -->
            <!-- ngSubmit appel une fonction de mon composant -->
            <!--Plus besoin de lui passer de paramètre -->
            <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edition d'un bien immobilier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- J'oblige le titre à être rempli avec required -->
                        <!-- formControlName remplace le name -->
                        <input type="text" placeholder="Titre du bien" class="form-control" formControlName="title">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" formControlName="category" >
                          <option value="Appartement">Appartement</option>
                          <option value="Maison">Maison</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="number" placeholder="Surface en (m²)" class="form-control" formControlName="surface" >
                        </div>
                        <div class="form-group col-6">
                            <input type="number" placeholder="Nombre de pièces" class="form-control" formControlName="rooms" >
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description du bien" id="" cols="30" rows="10" formControlName="description" ></textarea>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Prix" class="form-control" formControlName="price" >
                    </div>
                    <!-- <div *ngIf="photoUrl && photoUrl !==''">
                        <img [src]="photoUrl" class="w-50 d-flex mx-auto mb-3">
                    </div> -->
                    <div class="row mb-2">
                        <div *ngFor="let photo of photosAdded; let i = index" class="col-4 border border-secondary rounded m-1 p-1 bg-light position-relative">
                            <span class="text-danger position-absolute mr-1 deletePhoto" (click)="onRemoveAddedPhoto(i)">
                                <i class="fas fa-times"></i>
                            </span>
                            <img [src]="photo" class="w-100">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-11">
                            <div class="input-group">
                                <div class="custom-file">
                                    <!-- Dès que l'input vas changer de valeur ça va déclaré l'input file  -->
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                                    <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="spinner-border text-primary" *ngIf="photoUploading" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-switch mt-2">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="sold">
                        <label class="custom-control-label" for="customSwitch1">
                            <span class="text-danger" *ngIf="!propertiesForm.value.sold">
                                À vendre
                            </span>
                            <span class="text-success" *ngIf="propertiesForm.value.sold">
                                Vendu
                            </span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <!-- Je désactive mon bouton si le form n'est pas valide -->
                    <button type="submit" class="btn btn-primary" [disabled]='propertiesForm.invalid'>Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
