<div class="container">
    <h1 class="display-4 pt-5 mb-0">Tableau de bord</h1>
    <hr class="mt-0 mb-5 bg-grey">
    <div class="row">
        <div class="col-12">
            <app-admin-properties></app-admin-properties>
        </div>
    </div>
</div>