<div class="container mt-3">
    <div class="jumbotron">
        <h1>L'agence Immobilière des Arc</h1>
        <p class="lead">Cela n'a jamais été aussi simple d'acheter ou de vendre ses biens immobiliers.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" [routerLink]="['/history']" role="button">L'histoire de l'agence</a>
        </p>
    </div>
    <h2 class="display-4">Nos biens immobiliers</h2>
    <p>Laboriosam penatibus debitis, scelerisque incidunt habitasse massa dicta, feugiat pede nibh placerat praesentium varius adipiscing aenean? Perferendis, justo, adipisicing molestiae quidem litora mollitia nesciunt! Conubia vel ducimus nunc. Quidem quas placeat aenean? Tincidunt pede, sociosqu lobortis. Duis, orci, asperiores animi! Tortor primis? Purus facilis? Aliquam torquent habitasse potenti doloremque sed accusamus repellat vestibulum asperiores natus. Mollit? Sociis viverra hendrerit, interdum, laudantium illo et. Tempor, eveniet? Quibusdam. Dui dolorum mattis dolore fuga ducimus modi iusto pharetra purus dictumst quos dis veritatis, ducimus sagittis ante veniam, dolore tenetur erat, consequat. Blandit excepteur, massa? Facilisi nibh, molestiae lectus, taciti perspiciatis quaerat viverra? Est.</p>
    <div class="row mt-5">
        <!-- ngfor me permet de faire une boucle -->
        <div class="col-lg-4 mt-3" *ngFor="let property of properties; let i = index">
            <div class="card h-80" style="width: 18rem;">
                <div class="card-header">
                    <div *ngFor="let photo of property.photos; let first = first">
                        <img *ngIf="first" [src]="photo" class="cursor card-img-top" [alt]="property.title" [routerLink]="['/property', i]">
                    </div>
                </div>
                <div class="card-body">
                    <!-- {{}} me permet de faire appel à ma variable -->
                    <h5 class="card-title">{{property.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{property.category}}</h6>
                    <p class="card-text">
                        {{ property.category }}
                        <span *ngIf="property.surface && property.surface !== '' "> de {{ property.surface }} m²</span>
                        <span *ngIf="property.rooms && property.rooms !== '' ">, {{ property.rooms }} pièces</span>
                    </p>
                    <p [ngStyle]="{color: getSoldValue(property.sold)}">
                        <span *ngIf="!property.sold">
                            À vendre |
                        </span>
                        <span *ngIf="property.sold">
                            Vendu à 
                        </span>
                        {{ property.price }} €
                    </p>
                    <button class="btn btn-primary" type="button" [routerLink]="['/property', i]">
                        Voir ce bien
                    </button>
                </div>
            </div>
        </div>    
    </div>
</div>